<html>
<head>
    <title> Sin Sugerencias </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="../fotos/qmp.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand"/>
    <link rel="stylesheet" href="../../prendas.css">
    <link rel="stylesheet" href="../../basics.css">
</head>
<body>
<div>
    <h1 class="tituloPagina">No hay sugerencias</h1>

    <div align="center">
    <form method="POST" action="/eventos/{{id}}/sugerencias">
        <input type="submit" value="Generar Sugerencias" class="botón">
    </form>
    </div>

</div>
</body>
</html>
